* {
    --color-tundora:                  #595653;
    --color-night-rider:              #313131;
    --color-nero:                     #1f1f1f;
    --color-spring-wood:              #e9ded4;
    --color-default-white:            #ffffff;
    --color-red-orange:               #f54932;
    --color-kournikova:               #fbce51;
    --color-light-grey:               #d0d0d0;
    --color-mariner:                  #3057a2;

    --ff-golos:                         Golos;
    --ff-merriweather:                  Merriweather;
}
