.runnig-line {
    /* width: 100%; */
    background-color: var(--color-red-orange);
    display: flex;
    max-width: 100%;
    overflow-x: hidden;

    @media (max-width: 1023px) {
        height: 38px;
    }
}

.runnig-line__list {
    display: flex;
    flex-wrap: nowrap;
    list-style-type: url("../../img/svg/dot.svg");
    white-space: nowrap;
    align-items: center;
    padding: 18px 12px 18px 0;
    gap: 12px;
    animation: scroll 10s infinite linear;
    /* animation-play-state: paused; */
}

.runnig-line__item {
    display: flex;
    font-family: var(--ff-merriweather);
    font-weight: 400;
    font-size: 22px;
    line-height: 24.2px;
    text-transform: uppercase;
    color: var(--color-default-white);

    @media (max-width: 1023px) {
        font-size: 16px;
        line-height: 17.6px;
    }
}

.runnig-line__item-dot {
    align-self: center;
    justify-self: center;
    width: 6px;
    height: 6px;
    background-color: var(--color-default-white);
    border-radius: 50%;
    margin-left: 12px;
}

/* .runnig-line:hover {
    animation-play-state: paused;
} */

@keyframes scroll {
  100% {
    transform: translateX(0%);
    transform-origin: left center;
  }

  0% {
    transform: translateX(-100%);
    transform-origin: right center;
  }
}

