.stages {
    padding: 33px 72px;

    @media (max-width: 1023px) {
        padding-left: 20px;
        padding-top: 19.7px;
        padding-right: 20px;
    }
}

.stages h2 {
    font-family: "Merriweather";
    font-weight: 400;
    font-size: 54px;
    line-height: 64.8px;
    color: var(--color-night-rider);
    text-transform: uppercase;
    display: inline;

    @media (max-width: 1023px) {
        display: block;
        font-size: 36px;
        line-height: 39.6px;
    }
}

.stages p {
    font-family: "Golos";
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: var(--color-mariner);
    display: inline;

    @media (max-width: 1023px) {
        display: block;
        font-size: 18px;
        line-height: 21.6px;
    }
}

.stages__list,
.stages__list.is-no-clider {
    margin-top: 54px;
    list-style: none;
    display: grid;
    /* grid-template-areas: "first first second" "third third second" "fourth fifth fifth"; */
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    /* width: 100%; */

    @media (max-width: 1023px) {
        display: flex;
        overflow-x: hidden;
    }
}

.stages__item p {
    color: var(--color-night-rider);
    font-weight: 500;
}

.stages__item li {
    @media (max-width: 1023px) {
        width: 100%;
    }
}

.stages__item--bg,
.stages__list-part li {
    display: flex;
    background: url("../../img/content/bg-stages.png");
    background-color: var(--color-spring-wood);
    padding: 20px;
    align-items: center;
    /* max-width: 394px; */
}

.stages__item div {
    font-family: "Golos";
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    min-width: 36px;
    max-width: 36px;
    min-height: 36px;
    max-height: 36px;
    background-color: var(--color-default-white);
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-right: 16px;
}

.stages__item.is-hidden {
    display: none;
}

.stages__item.is-visible {
    display: block;
}

.stages__item--first {
    /* grid-area: first; */
    grid-column-start: 1;
    grid-column-end: 3;
}

/* .stages__item--first li {
    margin-right: 20px;
} */
.stages__item--second {
    grid-column: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.stages__item--third {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 2;
}

.stages__item--fourth {
    grid-column: 1;
    grid-row: 3;
}

.stages__item--fifth {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row: 3;
}

.stages__list-part {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;

    @media (max-width: 1023px) {
        grid-template-columns: 1fr;
        min-width: 100%;
    }
}

/* .stages__list-part li {
    @media (max-width: 1023px) {
        min-width: 100%;
    }
} */

.stages__navigation {
    display: none;

    @media (max-width: 1023px) {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


.stages__navigation-prev {
    margin-right: 10px;
    cursor: pointer;
}

.stages__navigation-next {
    cursor: pointer;
}

.stages__navigation-dot {
    cursor: pointer;
    width: 10px;
    height: 10px;
    background-color: var(--color-gainsboro);
    border-radius: 50%;
    margin-right: 10px;
}

.stages__navigation-dot.is-active {
    background-color: var(--color-night-rider);
}
